*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    text-transform: capitalize;
}
.content{
    display: grid;
    grid-template-rows: 72px 7fr 1fr;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(56, 56, 56);
    text-align: center;
    color: rgb(255, 255, 255);
}

/* div contenedor del div_canvas y del div_contain_menu(herramientas)*/
.div_father{
    height: 568px;
    display: flex;
}

/* div contenedor del canvas*/
.div_canvas{
    width: 60%;
    float: left;
    padding: 0;
    padding-top: 0.5%;
    margin: 0;
}
/* div contenedor de todos los divs de botones*/
.div_contain_menu{
    display: block;
    width: 40%;
    float: right;
    background-color: rgb(104, 104, 104);
    padding: 0;
    margin: 0;
}
/*div contenedor de boton subir imagen y descargar imagen*/
.div_file_up_download{
    display: flex;
    height: 15%;
}
/*style común entre boton subir imagen y descargar imagen*/
.div_up_download{
    width: 50%;
    display: block;
    text-align: center;
    margin: 2%;
}
/*div contenedor de divs de herramientas para pintar(lapig, goma, etc)*/
.div_btn_painting_elements{
    display: block;
    height: 27%;
}
/*div contenedor de divs de botones de aplicación de filtros*/
.div_btn_filters{
    display: block;
    height: 58%;
}

/*Style común entre botones*/
.btn_filter, .btn_tool, .btn_download, .label_file{
    font-size: 18px;
    padding: 1% 2% ;
    margin: 2%;
    border: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(134, 134, 134);
}

.btn_download{
    width: 30%;
    height: 45%;
}

.btn_tool{
    width: 15%;
    height: 20%;
}

.btn_filter{
    width: 25%;
    height: 10%;
}

/*input para subir una imagen*/
.input_file{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
/*label del input para subir una imagen*/
label.label_file{
    width: 30%;
    height: 40%;
}
/*titulo de la seción(herramientas de dibujo, filtros)*/
.p_seccion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(170, 169, 169);
    font-size: 30px;
    margin: auto;
    margin-bottom: 2%;
    border-bottom: 2px rgb(138, 138, 138) solid;
    width: 85%;
}
/*clase adicional de p.secion*/
.p_min{
    margin-bottom: 2%;
    font-size: 15px;
}
/*clase adicional de p.min*/
.p_short{
    width: 30%;
}
/*clase adicional de p.short*/
p.p_brightness_channels{
    margin: 0%;
    width: auto;
}

.p_saturation{
    width: 100%;
    margin-left: 25%;
    margin-bottom: 7%;
}

/*div contenedor de botones de brillo y canales*/
.div_brightnees_channels{
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

/*div contenedor de div contenedor de titulo y boton de brillo*/
.div_brightness{
    width: 25%;
    margin-right: 4%;
}

/*div contenedor de titulo y boton de satiración*/
.div_saturation{
    width: 30%;
    margin-right: 10%;
}

/*div contenedor del input range*/
.div_range{
    width: 30%;
    margin: auto auto auto 38%;
}
/**navegadores de tipo webkit ( Google Chrome, Opera, etc)
*"thumb" ( el botón o el control de la barra de desplazamiento )*/
.input_range, .input_range::-webkit-slider-thumb {
    /*desactivo la apariencia que le da el navegador al imput*/
    -webkit-appearance: none;
    display: block;
}
/*nueva apariencia del botón de la barra de desplazamiento*/
.input_range::-webkit-slider-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-top: -5px;
}
/*"track" o la barra de desplazamiento */
/*nueva apariencia de la la barra de desplazamiento*/
.input_range::-webkit-slider-runnable-track {
    background-color: rgb(163, 163, 163);
    height: 3px;
}

button:hover{
    background-color:rgb(184, 183, 183);
}